<div class="legend-container">
  <div class="legend-item">
    <h3>Máscara</h3>
    <div class="content">
      <div class="image">
        <img
          src="/assets/images/png/required-mask.png"
          alt="uso de máscara obrigatório"
        />
        <p>Obrigatório</p>
      </div>

      <div class="image">
        <img
          src="/assets/images/png/recommended-mask.png"
          alt="uso de máscara recomendado"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h3>Toalha</h3>
    <div class="content">
      <div class="image">
        <img
          src="/assets/images/png/required-towel.png"
          alt="uso de toalha obrigatório"
        />
        <p>Obrigatório</p>
      </div>

      <div class="image">
        <img
          src="/assets/images/png/recommended-towel.png"
          alt="uso de toalha recomendado"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h3>Bebedouro</h3>
    <div class="content">
      <div class="image">
        <img
          src="/assets/images/png/partial-fountain.png"
          alt="Bebedouro parcialmente liberado"
        />
        <p>Parcial</p>
      </div>

      <div class="image">
        <img
          src="/assets/images/png/not_allowed-fountain.png"
          alt="Bebedouro proibido"
        />
        <p>Proibido</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h3>Vestiários</h3>
    <div class="content">
      <div class="image">
        <img
          src="/assets/images/png/allowed-lockerroom.png"
          alt="Vestiário liberado"
        />
        <p>Liberado</p>
      </div>

      <div class="image">
        <img
          src="/assets/images/png/partial-lockerroom.png"
          alt="Vestiário parcialmente liberado"
        />
        <p>Parcial</p>
      </div>

      <div class="image">
        <img
          src="/assets/images/png/closed-lockerroom.png"
          alt="Vestiário fechado"
        />
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
